:root {
  --text-base: #afb6c2;
  --text-title: #d4ccb6;
  --background: #191816;
  --form-background: #24221f;
  --primary-color: #ffc632;
}

body {
  margin: 0 0;;
  background-color: black;
  color: white;
}

.login-area {
  padding: 2rem 1rem 0;
}

.logo-image {
  width: 40%;
  height: auto;
}

.login-box {

}

.login-title {

}

.login-title-text {
  
}

.input-label {

}

.input-form {

}

.remind-checkbox {

}

.forget-password-link {

}

.login-button {

}

.dont-have-account-text {

}

.sign-up-link {

}
