body {
  margin: 0 0;;
  background-color: black;
  color: white;
}

.login-area {
  
}

.logo-image {

}

.login-box {

}

.login-title {

}

.login-title-text {
  
}

.input-label {

}

.input-form {

}

.remind-checkbox {

}

.forget-password-link {

}

.login-button {

}

.dont-have-account-text {

}

.sign-up-link {

}
